ACTION A40_Electrovalves: 

	pConfiguratorDate.EV := '{{ .Date }}';

{{- range $index, $ev := .GetEquipment "electrovalve" }}
	// --------------------------------------------------------------------------------------------------------------- //
	//  EV {{ $ev.Index }} : {{ $ev.Name }}
	// --------------------------------------------------------------------------------------------------------------- //
	// Activation
	pElectrovalveList[{{ $ev.Index }}].Active                         := TRUE;
	pElectrovalveList[{{ $ev.Index }}].Enable                         := {{ if $ev.Enable }}TRUE{{ else }}FALSE{{ end }};
	pElectrovalveList[{{ $ev.Index }}].ID                             := {{ $ev.Index }};
	pElectrovalveList[{{ $ev.Index }}].ID_EM                          := {{ index $.ModuleMap $ev.EmID }};
	
	// Configuration
	pElectrovalveList[{{ $ev.Index }}].Cfg.Task                       := 4;
	pElectrovalveList[{{ $ev.Index }}].Cfg.ElectrovalveType           := {{ $ev.Configuration.cmdType }};
	pElectrovalveList[{{ $ev.Index }}].Cfg.Sensor                     := {{ $ev.Configuration.sensorType }};
	pElectrovalveList[{{ $ev.Index }}].Cfg.CenterType                 := {{ $ev.Configuration.centerType }};
{{- end }}
	
END_ACTION