ACTION A70_AnaInputs: 

	pConfiguratorDate.AI							:= '{{ .Date }}';

{{- range $ai := index .AppData.Equipment "analogInput" }}
	// --------------------------------------------------------------------------------------------------------------- //
	//  AI {{ $ai.index }} : {{ $ai.name }}
	// --------------------------------------------------------------------------------------------------------------- //
	// Activation
	pAnaInputList[{{ $ai.index }}].Active							:= TRUE;
	pAnaInputList[{{ $ai.index }}].Enable							:= {{ if $ai.enable }}TRUE{{ else }}FALSE{{ end }};
	pAnaInputList[{{ $ai.index }}].ID								:= {{ $ai.index }};
	pAnaInputList[{{ $ai.index }}].ID_EM							:= {{ index $.ModuleMap $ai.emId }};

	// Configuration
	pAnaInputList[{{ $ai.index }}].Cfg.Task							:= {{ if $ai.task }}{{ $ai.task }}{{ else }}4{{ end }};
	pAnaInputList[{{ $ai.index }}].Cfg.ForceAllowed					:= {{ if $ai.forceAllowed }}TRUE{{ else }}FALSE{{ end }};

	// Linear calibration
	pAnaInputList[{{ $ai.index }}].Cfg.Linear.X1					:= {{ if $ai.calibX1 }}{{ $ai.calibX1 }}{{ else }}0{{ end }};
	pAnaInputList[{{ $ai.index }}].Cfg.Linear.Y1					:= {{ if $ai.calibY1 }}{{ $ai.calibY1 }}{{ else }}0{{ end }};
	pAnaInputList[{{ $ai.index }}].Cfg.Linear.X2					:= {{ if $ai.calibX2 }}{{ $ai.calibX2 }}{{ else }}32567{{ end }};
	pAnaInputList[{{ $ai.index }}].Cfg.Linear.Y2					:= {{ if $ai.calibY2 }}{{ $ai.calibY2 }}{{ else }}100{{ end }};
{{- end }}

END_ACTION