ACTION A70_AnaInputs: 

	pConfiguratorDate.AI							:= '{{ .Date }}';

{{- range $ai := .GetEquipment "analogInput" }}
	// --------------------------------------------------------------------------------------------------------------- //
	//  AI {{ $ai.Index }} : {{ $ai.Name }}
	// --------------------------------------------------------------------------------------------------------------- //
	// Activation
	pAnaInputList[{{ $ai.Index }}].Active							:= TRUE;
	pAnaInputList[{{ $ai.Index }}].Enable							:= {{ if $ai.Enable }}TRUE{{ else }}FALSE{{ end }};
	pAnaInputList[{{ $ai.Index }}].ID								:= {{ $ai.Index }};
	pAnaInputList[{{ $ai.Index }}].ID_EM							:= {{ if $ai.EmID }}{{ index $.ModuleMap $ai.EmID }}{{ else }}0{{ end }};
	// Configuration
	pAnaInputList[{{ $ai.Index }}].Cfg.Task							:= 4;
	// Linear calibration
	pAnaInputList[{{ $ai.Index }}].Cfg.Linear.X1					:= {{ if $ai.Configuration.x1 }}{{ $ai.Configuration.x1 }}{{ else }}0{{ end }};
	pAnaInputList[{{ $ai.Index }}].Cfg.Linear.Y1					:= {{ if $ai.Configuration.y1 }}{{ $ai.Configuration.y1 }}{{ else }}0{{ end }};
	pAnaInputList[{{ $ai.Index }}].Cfg.Linear.X2					:= {{ if $ai.Configuration.x2 }}{{ $ai.Configuration.x2 }}{{ else }}0{{ end }};
	pAnaInputList[{{ $ai.Index }}].Cfg.Linear.Y2					:= {{ if $ai.Configuration.y2 }}{{ $ai.Configuration.y2 }}{{ else }}0{{ end }};
{{- end }}

END_ACTION