ACTION A80_AnaOutputs: 

	pConfiguratorDate.AO							:= '{{ .Date }}';

{{- range $ao := .GetEquipment "analogOutput" }}
	// --------------------------------------------------------------------------------------------------------------- //
	//  AO {{ $ao.Index }} : {{ $ao.Name }}
	// --------------------------------------------------------------------------------------------------------------- //
	// Activation
	pAnaOutputList[{{ $ao.Index }}].Active								:= TRUE;
	pAnaOutputList[{{ $ao.Index }}].Enable								:= {{ if $ao.Enable }}TRUE{{ else }}FALSE{{ end }};
	pAnaOutputList[{{ $ao.Index }}].ID									:= {{ $ao.Index }};
	pAnaOutputList[{{ $ao.Index }}].ID_EM								:= {{ if $ao.EmID }}{{ index $.ModuleMap $ao.EmID }}{{ else }}0{{ end }};

	// Configuration
	pAnaOutputList[{{ $ao.Index }}].Cfg.Task							:= 4;
	// Linear calibration
	pAnaOutputList[{{ $ao.Index }}].Cfg.Linear.X1						:= {{ if $ao.Configuration.x1 }}{{ $ao.Configuration.x1 }}{{ else }}0{{ end }};
	pAnaOutputList[{{ $ao.Index }}].Cfg.Linear.Y1						:= {{ if $ao.Configuration.y1 }}{{ $ao.Configuration.y1 }}{{ else }}0{{ end }};
	pAnaOutputList[{{ $ao.Index }}].Cfg.Linear.X2						:= {{ if $ao.Configuration.x2 }}{{ $ao.Configuration.x2 }}{{ else }}100{{ end }};
	pAnaOutputList[{{ $ao.Index }}].Cfg.Linear.Y2						:= {{ if $ao.Configuration.y2 }}{{ $ao.Configuration.y2 }}{{ else }}32567{{ end }};
{{- end }}

END_ACTION